#parent{
    border:2px,solid black;
    width:600px;
    height:600px;
}
    #box1{
    border:1px,solid black;
    background:lime;
    height:100px;
    width:100px;
    transition-property: transform; 
    transition-duration: 2s;
}
#box1:active{
    transform:translate(500px) rotateZ(90deg);
}

